@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
box-sizing: border-box;
font-family:  'Poppins', sans-serif;
}
:root{
    --white-color: #fff;
    --header-color: #1e2022;
    --black-color: #000;
    --linear-gradient: linear-gradient(-45deg, #4e54c8, #8089ff);
}
body{
margin: 0;
padding: 0;
width: 100%;
height: 100%;
font-family: 'Poppins', sans-serif;
overflow-y: scroll;
color: #575a7b;
letter-spacing: 0.5px;
font-weight: 400;
overflow-x: hidden;
}
h1{
    color: var(--header-color);
}
nav .nav-ul li{
display: inline-block;

}
span{
    color: #fff;
    opacity: 0.6;

}
/*code for Navigation menu*/
.menu-section{
    position: fixed;
    top: 0;
    right: 0;  
    z-index: 9999; 
    width: 100%;
}
.nav-ul{
list-style-type: none;
margin: 0;
background-color: var(--white-color);
overflow: hidden;
padding: 20px;
text-align: right;
}

.nav-img{
    float: left;
    width: 6.5%;
    position: absolute;
    left: 350px;
}
a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
}
li a{
    color: var(--black-color);
    text-decoration: none;
    padding: 10px 5px;
    font-size: 0.87rem;
    font-weight: bold;  
    align-items: center;
    text-transform: uppercase; 
}
a:hover{
    transition: .5s;
    color: #0f17a1;
}
#check,i{
float: left;
}

#check{
    display: none;
}
.checkbtn{
    font-size: 1.9rem;
    float: right;
    cursor: pointer;
    display: none;
    line-height: 80px;
}

.header-container{
background-image: url(https://fabrex.websitelayout.net/demos/startup-agency/img/banner/bg9.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 100%;
height:500px;
position: relative;
z-index: 2;
color: var(--white-color);
animation: slideFromLeft .6s ease-in;

}

.header-container::before{
background: var(--linear-gradient);
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0.8;
z-index: -1;
}

.section-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header h1{
    font-size: 2.6rem;
    color: var(--white-color);
    margin: 10px 0;
  }
.header p{
    margin-left: 1.7rem;
}
/*about*/
.about-text{
    max-width: 600px;
    margin-left: 200px;
}
.about p{
    font-size: 1rem;
    line-height: 1.5;
}
.about h1{
    color: var(--header-color);
    font-size: 1.7rem;
}
.about{
gap: 2rem;
height: 700px;
animation: slideFromBottom .6s ease-in;
}
.about p:first-of-type{
    color: #000;
    font-weight: 600;
}
.about img{
    margin-top: 50px;
}
/* work */

.work{
    background:  var(--linear-gradient);
    height: 450px;
    position: relative;
    text-align: center;  
    color: var(--white-color);
}
.work h1{
    color: var(--white-color);
    font-size: 2rem;
    position: absolute;
    display: block;
    top: 30;
    left: 45%; 
}
.work h2  {
    font-size: 1.1rem;
}
.work p{
    font-size: 0.95rem;
}
#text-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10rem;
}

.icon-2{
    font-size: 2.5rem;
    color:#0f17a1;
    position: absolute;
    top: 30%;
    left: 30%;
    opacity: 0.8;
    }
    .circle-2{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        padding: 2.5rem;
        background-color: rgb(235, 234, 234);
        margin: auto;
        margin-top: 4.5rem; 
        position: relative;  
    }

/* Client */
.client{
    background-color: var(--white-color);
    height: 600px;
    text-align: center;
}
    .client h1{
        font-size: 2rem;
        position: absolute;
        top: 50px;
    
    }
    .client-img{
        display: block;
        border-radius: 50%;
        margin: auto;
    }
   .client p{
    color:var(--header-color);
   }
    .client p:last-child{
        color: rgb(140, 138, 138);
        font-weight: 100;
    }
    .client p:last-of-type{
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    /* Contact */

    .contact{
        background: var(--header-color);
        height: 250px;
        }
    
    .contact-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20rem;
    position: relative;
    }
    .contact-text h2{
        color: var(--white-color);
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
    }
    
    .info:first-child{
        color: #939393;
     }
    
     .info:nth-child(2){
        color: #939393;
        }
    
        .info:last-child{
            color: #939393;
        }
        .info{
            margin-left: 2rem;
            margin: -20px;
            
        } 
    .contact-text h2::after {
        content: '';
        display: block;
        width: 70px;
        height: 1.5px;
        background: #4f55d1;
        margin: 12px auto auto;
    }
    .contact-text{
        border-bottom: 1px solid rgb(69, 65, 65);
        position: absolute;
        padding: 2rem;
        margin-bottom: 7.5rem;
    }
    .contact-icon{
        font-size: 1.5rem;
        margin-top: 5rem;
        color: rgb(210, 206, 206);
        display: flex;
        gap: 2rem;
        margin-right: 4rem;
    }
    /* footer */

    #footer{
        background-color: #191919;
        color:#f7f7f7;
        height: 70px;
        text-align: center;
        padding-top: 1rem;
        
    }
    #footer a{
        font-size: 1.2rem;
        text-decoration: none;
        color: #0f17a1;
    }

    /* Animations */

@keyframes slideFromLeft {
    0%{
        transform: translateX(-100%)
    }
  100%{
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
    0%{
        transform: translateX(100%)
    }
  100%{
    transform: translateX(0);
  }
}

@keyframes slideFromTop{
    0%{
        transform: translateY(-100%)
    }
  100%{
    transform: translateX(0);
  }
}

@keyframes slideFromBottom {
    0%{
        transform: translateY(100%)
    }
  100%{
    transform: translateX(0);
  }
}
    /* media queries */

    /*media queries for medium sized screens*/
@media screen and (max-width: 991px){
    #header-container,.m-query
{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 4% 0px;
    }
    /* about */
.about-text{
    max-width: 90%;
    margin: auto;
}
/* work */
.work h1{
    margin-left: -3.5rem
    }
    #text-container{
        margin: 5px;
        gap: 1rem;
    }
    .work i{
        font-size: 2.5rem;
    }

    /* contact */
.contact-text{
    display: block;
    margin: auto;
    margin-top: -5rem;
 }
 .info{
     text-align: center;
     padding: 20px;
 }
 .contact{
     height: 500px;
 }

 .contact-icon{
    position: absolute;
    bottom: 30;
    margin-left: 3rem;
 }

}

 /* media queries for small mobile phones and medium screen size
 */
 @media screen and (min-width: 250px) and (max-width: 590px){
    .m-query{
        height: auto;
        padding: 7% 0px;
     }
     html,body{
        font-size: 0.9rem;
     }
     .header-container{
        height: 40%;
     }
    
     .work h1{
        margin-left: -4.3rem;
        margin-top: -1rem;
        }
        #text-container{
            margin: 5px;
            gap: 1rem;
            grid-template-columns: 1fr;
        }
       .work{
        background-color: red;
       }
       .work i {
        font-size: 2.5rem;
       }
 /*about */

 .about img{
    width: 90%;
 }
}

/*Nav menu media query*/
@media (max-width: 991px){
    nav .nav-ul li a{
        font-size: 1rem;
    }
    .nav-img{
        width: 6rem;
        margin-top: -1.5rem;
        margin-left: 8rem;
       }
}

@media (max-width: 858px){
    .checkbtn{
       display: block;
    }
    .nav-ul{
   position: relative;
   width: 80%;
   height: 22.6rem;
   left: -100%;
   background-color: white;
   transition: all  .5s;
   text-align: left;
   margin-left: 5rem;
   line-height: 3rem;
    }
  nav .nav-ul li{
    display: flex;
    margin: 3.2rem 0;
    line-height: 10px;
    flex-direction: column;
    margin: -0.5rem;
  }
  nav .nav-ul li a{
    font-size: 1rem;
    border-bottom: 1px solid rgb(226, 214, 214);
  }
  #check:checked ~ ul{
    left: 0;
  }
  .checkbtn{
    background-color: white;
    width: 100%;
    padding: 1%;
  }
  .fas {
  margin-top:0rem;
  font-size: 1.2rem;
  }
  }

  @media screen and (min-width: 250px) and (max-width: 450px){
   .nav-ul {
  width: 90%;
  margin-left: 1rem;
    }
    nav .nav-ul li a{
        font-size: 0.8rem;
      }
  }
 
