@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
box-sizing: border-box;
font-family:  'Poppins', sans-serif;
}
:root{
    --white-color: #fff;
    --header-color: #1e2022;
    --black-color: #000;
    --linear-gradient: linear-gradient(-45deg, #4e54c8, #8089ff);
}
body{
margin: 0;
padding: 0;
width: 100%;
height: 100%;
font-family: 'Poppins', sans-serif;
overflow-y: scroll;
color: #575a7b;
letter-spacing: 0.5px;
font-weight: 400;
overflow-x: hidden;
}
h1{
    color: var(--header-color);
}
nav .nav-ul li{
display: inline-block;

}
span{
    color: #fff;
    opacity: 0.6;

}
/*code for Navigation menu*/
.menu-section{
    position: fixed;
    top: 0;
    right: 0;  
    z-index: 9999; 
    width: 100%;
}
.nav-ul{
list-style-type: none;
margin: 0;
background-color: var(--white-color);
overflow: hidden;
padding: 20px;
text-align: right;
}

.nav-img{
    float: left;
    width: 6.5%;
    position: absolute;
    left: 350px;
}
a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
}
li a{
    color: var(--black-color);
    text-decoration: none;
    padding: 10px 5px;
    font-size: 0.87rem;
    font-weight: bold;  
    align-items: center;
    text-transform: uppercase; 
}
a:hover{
    transition: .5s;
    color: #0f17a1;
}
#check,i{
float: left;
}

#check{
    display: none;
}
.checkbtn{
    font-size: 1.9rem;
    float: right;
    cursor: pointer;
    display: none;
    line-height: 80px;
}

.header-container{
background-image: url(https://fabrex.websitelayout.net/demos/startup-agency/img/banner/bg9.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 100%;
height:500px;
position: relative;
z-index: 2;
color: var(--white-color);

}

.header-container::before{
background: var(--linear-gradient);
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0.8;
z-index: -1;
}

.visible{
    opacity: 0;
    position: relative;
    transition:  ease-in-out .8s;
    transform: translateY(100px);
}
.visible.show{
   opacity: 1;
   transition: ease-in-out .8s;
   transform: translateY(-70px);
}

.section-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header h1{
    font-size: 2.6rem;
    color: var(--white-color);
    margin: 10px 0;
  }

  .header p{
    margin-left: 3.1rem;
}
.break-1,.break-3{
    display: static;
}
/* blog */

.blog{
    background-color: var(--white-color);
    padding: 5%;
}
.blog h1
{
position: absolute;
top: 10px;
font-size: 1.9rem;
}
.blog-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 
}

.img-card{
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card:hover{
    transition: all ease-in-out .5s;
    transform: scale(1.05);
    cursor: pointer;
}
.card-image{
    width: 400px;
    height: 230px;
    object-fit: cover;
    gap: 3rem;
}
.card-image-2{
    width: 400px;
    height: 220px;
}
.card-text{
    padding: 10px;  
    padding-left: 1.5rem;
}
.card-text h2{
    font-size: 1.2rem;
    color: var(--header-color); 
}
.card-text p{
    font-size: 0.9rem;
}
.inner-text{
    border-width: thin;
    border-top: 1px solid #dfd8d8;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.inner-text p{
    font-size: 1.1rem;   
}

/* contact */
.contact{
    background: var(--header-color);
    height: 250px;
    }

.contact-text{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20rem;
position: relative;
}
.contact-text h2{
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

.info:first-child{
    color: #939393;
 }

 .info:nth-child(2){
    color: #939393;
    }

    .info:last-child{
        color: #939393;
    }
    .info{
        margin-left: 2rem;
        margin: -20px;
        
    } 
.contact-text h2::after {
    content: '';
    display: block;
    width: 70px;
    height: 1.5px;
    background: #4f55d1;
    margin: 12px auto auto;
}
.contact-text{
    border-bottom: 1px solid rgb(69, 65, 65);
    position: absolute;
    padding: 2rem;
    margin-bottom: 7.5rem;
}
.contact-icon{
    font-size: 1.5rem;
    margin-top: 5rem;
    color: rgb(210, 206, 206);
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

/* pagination */

.pagination {
    display: inline-block;
    margin-bottom: 100px;
  }
  .pages{
    text-align: center;
    position: relative;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 26px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 0.85rem;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) 
  {background-color: #000;

  color: var(--white-color);
  }


  @media  (max-width: 1200px){
    .contact-text{
        grid-template-columns: 1fr;
    }
    .contact{
      height: 500px;
      padding: 5%;
      text-align: center;
    }
    .contact-icon{
        margin-top: 400px;
    }
    }
    @media  (max-width: 350px){
    .contact-text{
        width: 70%;
    }
    }

/* footer */

#footer{
    background-color: #191919;
    color:#f7f7f7;
    height: 70px;
    text-align: center;
    padding-top: 1rem;
    
}
#footer a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #0f17a1;
}


@media screen and (max-width: 991px){
    #header-container,.m-query,.blog
    {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 7% 0px;
    }
   
.blog{
    height: auto; 
}



/* contact */
.contact-text{
    display: block;
    margin: auto;
    margin-top: -5rem;
 }
 .info{
     text-align: center;
     padding: 20px;
 }
 .contact{
     height: 500px;
 }
 
 .contact-icon{
    position: absolute;
    bottom: 30;
    margin-left: 3rem;
 }
 .blog-container{
    display: block;
    display: flex;
    width: 80%;
    margin-right: 2rem;
}
.img-card,.card-image{
    width: 100%;
}
.break-3,.break-1{
    display: none;
}
}
/* mobile phones */


@media screen and  (max-width: 480px){
.header-container{
    height: 40%;
}
html,body{
    font-size: 0.9rem;
}
.blog-container{
 width: 90%;
 height: 90%;
}


}
 @media screen and  (min-width: 650px) and (max-width: 900px){
    .blog-container{
        display: block;
        display: flex;
        width: 90%;
    }

 }

 @media screen and (min-width: 991px) and (max-width: 1310px){
   
    .nav-img{
        position: absolute;
        left: 10px;
        bottom: 15px;
        
    }
}
/*Nav menu media query*/
@media (max-width: 991px){
    nav .nav-ul li a{
        font-size: 1rem;
    }

    .nav-img{
        width: 6rem;
        margin-top: -1.5rem;
        margin-left: 8rem;
       }
}

@media (max-width: 858px){
    .checkbtn{
       display: block;
    }
    .nav-ul{
   position: relative;
   width: 80%;
   height: 22.6rem;
   left: -100%;
   background-color: white;
   transition: all  .5s;
   text-align: left;
   margin-left: 5rem;
   line-height: 3rem;
    }
  nav .nav-ul li{
    display: flex;
    margin: 3.2rem 0;
    line-height: 10px;
    flex-direction: column;
    margin: -0.5rem;
  }
  nav .nav-ul li a{
    font-size: 1rem;
    border-bottom: 1px solid rgb(226, 214, 214);
  }
  #check:checked ~ ul{
    left: 0;
  }
  .checkbtn{
    background-color: white;
    width: 100%;
    padding: 1%;
  }
  .fas {
  margin-top:0rem;
  font-size: 1.2rem;
  }
  }

  @media screen and (min-width: 250px) and (max-width: 450px){
   .nav-ul {
  width: 90%;
  margin-left: 1rem;
    }
    nav .nav-ul li a{
        font-size: 0.8rem;
      }
  }
 
  @media screen and (min-width: 250px) and (max-width: 590px){
  .blog{
    padding: 100px 0;
  }
  }
  @media screen and (min-width: 200px) and (max-width: 380px) {
    .pagination{
        display: none;
    }
  }
